Repository Chelsaa/COVID-ChatBot-Group6, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Shivam-090, @Raveesh1505, @Manuelrico659, @who-somu, @bitphonix, @MontseD

.github/CODEOWNERS:

# Source Files
/ChatBot/ @Shivam-090 @Raveesh1505 @Manuelrico659 @who-somu @bitphonix @MontseD

# Github Files
/.github/ @Shivam-090
/LICENSE @Shivam-090
/README.md @Shivam-090 @Raveesh1505

# Dependency Files
/.gitignore @Raveesh1505

Update README.md
  README.md
Owners: @Shivam-090, @Raveesh1505

Food and meditation.txt
  Resources/COVID ChatBot Details (2).txt
Owners: none

Hospitals
  Resources/Hospital.txt.txt
Owners: none

present
  ChatBot/adminData.txt
Owners: @Shivam-090, @Raveesh1505, @Manuelrico659, @who-somu, @bitphonix, @MontseD

Admin fix
  ChatBot/admin.c
Owners: @Shivam-090, @Raveesh1505, @Manuelrico659, @who-somu, @bitphonix, @MontseD

Gitignore update
  .gitignore
Owners: @Raveesh1505

Delete LICENSE
  LICENSE
Owners: @Shivam-090

Create LICENSE
  LICENSE
Owners: @Shivam-090
